@model BlogPost.web.ViewModel.ResetPasswordVm;

@{
    ViewData["Title"] = "Reset Password";
}

<div>
    <div class="container-fluid">
        <a class="btn btn-primary mb-2" asp-action="Index" asp-controller="User">Go Back</a>
        <div class="card-header bg-primary">
            <h4 class="card-title  text-white">
                Password Reset
            </h4>
        </div>

        <div class="card-body">
            <form asp-action="ResetPassword" asp-controller="User" asp-area="Admin" method="post">
                <div class="mb-2">
                    <input type="hidden" asp-for="Id"/>

                    <label>Username</label>
                    <input type="text" asp-for="Username" class="form-control" disabled/>
                    <span asp-validation-for="Username" class="text-danger"></span>
                </div>
                <div class="mb-2">
                    <label>New Password</label>
                    <input type="password" asp-for="newPassword" class="form-control" />
                    <span asp-validation-for="newPassword" class="text-danger"></span>
                </div>
                <div class="mb-2">
                    <label>Confirm Password</label>
                    <input type="password" asp-for="confirmPassword" class="form-control" />
                    <span asp-validation-for="confirmPassword" class="text-danger"></span>
                </div>
                <div class="mb-1">
                    <button type="submit" class="btn btn-primary w-100">Reset</button>
                </div>
            </form>
        </div>
    </div>
</div>